@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,600&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-image: url("https://i.pinimg.com/564x/0a/ab/18/0aab18c30abe3c7f1172d13dea781a55.jpg");
    background-size: cover;
    
}
.form_container{
      position: absolute;
      max-width: 390px;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index:101 ;
      background: #fff;
      padding:25px;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.1);
    }
.fa-xmark{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 23px;
    opacity: 0.7;
    cursor: pointer;
}
.signup_form{
    display: none;
}
.form_container h2{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_box{
    position: relative;
    margin-top: 30px;
    width: 85%;
    height: 40px;
    }

.input_box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0,2s ease;
    border-bottom: 1.5px solid #aaaaaa;
    }
.input_box input:focus{
    border-color: #7d2ae8 ;
    }
.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input_box i.fa-font,
.input_box i.fa-phone,
.input_box i.fa-user,
.input_box i.fa-lock{
    left: 0;
    color: #707070;
    }
.input_box input:focus ~ i.fa-user,
.input_box input:focus ~ i.fa-phone,
.input_box input:focus ~ i.fa-font,
.input_box input:focus ~ i.fa-lock{
    color: #7d2ae8 ;
    }

.input_box i.fa-eye-slash{
    margin-left:350px ;
    font-size: 20px;
    color: #707070;
    }

.option_field{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
.form_container a {
    color: #7d2ae8;
    font-size: 12px;
}
.form_container a::hover{
    text-decoration: underline;
    }
.checkbox{
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
}
.checkbox input{
     accent-color: #7d2ae8;
    }
.checkbox label {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;

    }

.form_container button{
    background: #00cccc;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    border-width: 0px;
    color: white;
    }
.form_container button:hover{
    background: #99FF99;
}
.login_signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}